[submodule "libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "freertos"]
	path = firmware/freertos
	url = https://github.com/cjlano/freertos.git
[submodule "client/ios/Alti/BlueCap"]
	path = client/ios/Alti/BlueCap
	url = https://github.com/troystribling/BlueCap.git
[submodule "client/ios/Alti/Charts"]
	path = client/ios/Alti/Charts
	url = https://github.com/danielgindi/ios-charts.git
[submodule "firmware/stm32l1_stdperiphlib"]
	path = firmware/stm32l1_stdperiphlib
	url = git@bitbucket.org:yan_i/stm32l1_stdperiphlib.git
